/*GENERIC*/

html{
    height: 100%;
}

body{
    margin: 0;
    height: 100%;
    overflow: hidden;
}

h1, h2, h3, p, a{
    color: #5271ff;
    font-family: 'Montserrat', sans-serif;
}

button{
    display: inline-block;
    background-color: white;
    color: #5271ff;
    border: solid 2px #5271ff;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    padding: 8px 20px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

img{
    pointer-events: none;
}


/* Add a black background color to the top navigation */
.topnav {
    background-color: #c9c9c9;
    overflow: hidden;
}
  
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border: solid 2px #5271ff;
    font-weight: 600;
    cursor: pointer;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.leftalign{
    float: left;
}

.rightalign{
    float: right;
}

.inline-but{
    margin-right: 15px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.tablebutton{
    font-size: medium;
    color: black;
    border: solid 2px black;
}

/*
Generic declarations
*/
#center{
    text-align: center;
}

#center-overflow{
    text-align: center;
    overflow: hidden;
}

#main-header{
    display: inline-block;
}

#main-header-button{
    display: inline-block;
}

/*
Canvases
*/
#canvas1{
    position: absolute;
    z-index: 0;
}

#canvas2{
    position: absolute;
    z-index: 1;
}

#canvas3{
    position: absolute;
    z-index: 2;
}

/*topnav for controller*/
#controller-topnav {
    background-color: white;
    overflow: hidden;
    border: solid 3px #5271ff;
}

#controller-topnav a.active {
    background-color:rgb(218, 215, 215);
    color: black;
}

.monitor-content {
    position: absolute;
    z-index: 10;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
}

.monitor-header {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
}

/*Controller elements*/
.result h2, button{
    display: inline;
}

.result button{
    margin-left: 50px;
}

td i{
    cursor: pointer;
}

td i:hover{
    color: #5271ff;
}

div.popup-box{
    visibility: hidden;
    z-index: 2;
    position: absolute;
    background-color: gray;
    padding: 8px 8px;
    border-radius: 4px;
    width: 20%;
}

div.popup-box p{
    color: white;
}

/*Worker elements*/
.stopsim{
    background-color: red;
    color: black;
}

.startsim{
    background-color: green;
    color: black;
}

.stopsim#stopbutton:hover{
    background-color: red;
    color: black;
}

.startsim#stopbutton:hover{
    background-color: green;
    color: black;
}

.plane-block p, .plane-block div, .plane-block input, .plane-block form, .plane-block button, .plane-block h3{
    display: inline-block;
}

.plane-block {
    display: block;
}

.plane-cell{
    padding-left: 15px;
    border: 2px solid #5271ff;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.val-range{
    width: 98%;
}

.header{
    font-weight: bold;
}

.choice-text {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin: 0;
    border: solid 2px #5271ff;
    color: #5271ff;
    font-weight: bold;
}

#selected-choice-text{
    border: 1px solid black;
    background-color: #5271ff;
    color: #ccc;
}

.choice-but, .randomize-but{
    display: inline-block;
    background-color: white;
    color: #5271ff;
    border: solid 2px #5271ff;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    padding: 8px 20px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.selected-choice{
    background-color: #5271ff;
    color: white;
}

.plane-search{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin: 0;
    border: solid 2px #5271ff;
    color: #5271ff;
    font-weight: bold;
    margin-bottom: 25px;
}

#scrollable{
    overflow-y: scroll;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
    background-color: #5271ff;
    padding: 10px;
}
.grid-item {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
}

div.selected{
    background-color: #5271ff;
}

#mask{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    text-align: center;
    margin: auto;
    opacity: 0.5;
    background-color: rgba(0, 0, 0, 0.50);
    color: white;
    margin-left: -20px;
    font-weight: bolder;
    position: absolute;
    text-align: center;
    padding-top: 20%;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    backdrop-filter: blur(50px);
}

.div-indent{
    margin-left: 20px; 
    margin-right: 20px;
}

/*Controller SIM switch*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}


.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}
  
input:checked + .slider {
    background-color: #5271ff;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #5271ff;
}
  
input:checked + .slider:before {
    transform: translateX(26px);
}

/*
WEATHER DEFS
*/
body#weather-background{
    background-color: black;
}

.weather-text{
    color: aliceblue;
    margin: 0;
    margin-top: 5px;
}

h2.weather-text a{
    color: #84948e;
}

.weather-but-run{
    background-color: #04AA6D;
    color: black;
    border: 1px solid black;
}

.weather-but-stop{
    background-color: rgb(255, 0, 0);
    color: black;
    border: 1px solid black;
}