@import "tailwindcss";

@theme {  
    --color-primary-blue: #5271ff;
}

/*
    Buttons
*/
.btn-primary { @apply bg-white inline-block text-primary-blue border border-solid border-primary-blue rounded-xs cursor-pointer text-2xl text-center px-3 py-1.5 relative border-2 }
.btn-primary:hover { @apply bg-[#dad7d7] text-black }
.btn-active { @apply !bg-primary-blue !text-white }
.btn-disabled { @apply bg-[#cccccc] text-[#666666] border-[#999999] cursor-not-allowed }

.btn-primary + .btn-primary {
    @apply -ml-[2px]
}

/*
    Text
*/

.l-header { @apply text-primary-blue text-2xl font-normal }
.la-header { @apply text-primary-blue text-4xl font-normal }
.s-header { @apply text-primary-blue text-xl font-normal }
.text { @apply text-primary-blue text-base }

/*
    Others
*/

.img-resource { @apply pointer-events-none w-1/2 }
hr { @apply border-primary-blue }
table td { @apply border-2 border-primary-blue h-30}
.warn-text { @apply w-full text-red-500 text-center }

/*
    Domain specific modifiers
*/
table.setup-table th, td { @apply !border-1 !border-black text-center}
table.setup-table td { @apply h-auto py-2 }
table.setup-table thead { @apply bg-[#dddddd]}

.table-button { @apply border-2 py-1 px-4 cursor-pointer w-95/100 }
.table-button:hover { @apply bg-[#dad7d7] }

.table-tag { @apply bg-primary-blue text-white rounded-sm px-1.5 py-1 }

table.category-table { @apply grow }
table.category-table th, td { @apply !border-1 !border-black }
table.category-table td { @apply h-auto }
table.category-table thead { @apply bg-[#dddddd]}
table.category-table tbody td:first-child { @apply font-bold }

table.dep_arr-table { @apply grow }
table.dep_arr-table td { @apply !border-[#999999] !border-1 h-10 py-1}