#close-desc{
    cursor: pointer;
}

.desc-content{
    position: absolute;
    z-index: 3;
    background-color: gray;
    color: white;
    padding: 15px;
    border-radius: 15px;
    margin-top: 15px;
    width: 50%;
    height: 75%;
    left: 25%;
    visibility: hidden;
    overflow-y: scroll;
}

s-text.desc{
    color: white;
}

.mask{
    z-index: 2;
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: 'Montserrat';
    font-size: larger;
}

.mask-unselect{
    backdrop-filter: blur(50px);
    opacity: 0.5;
    background-color: gray;
    pointer-events: none;
}

.mask-select{
    background-color: transparent;
    pointer-events: all;
}


/*Controller elements*/
.result h2, button{
    display: inline;
}

.result button{
    margin-left: 50px;
}

.result{
    margin-bottom: 20px;
    display: inline-block;
    margin-left: 10px;
}

td i{
    cursor: pointer;
}

td i:hover{
    color: #5271ff;
}

div.popup-box{
    visibility: hidden;
    z-index: 2;
    position: absolute;
    background-color: gray;
    padding: 8px 8px;
    border-radius: 4px;
    width: 20%;
}

div.popup-box p{
    color: white;
}

.plane-block p, .plane-block div, .plane-block input, .plane-block form, .plane-block button, .plane-block h3{
    display: inline-block;
}

.plane-block {
    display: block;
}

.plane-cell{
    padding-left: 15px;
    border: 2px solid #5271ff;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.val-range{
    width: 98%;
}

.header{
    font-weight: bold;
}

.choice-text {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin: 0;
    border: solid 2px #5271ff;
    color: #5271ff;
    font-weight: bold;
}

#selected-choice-text{
    border: 1px solid black;
    background-color: #5271ff;
    color: #ccc;
}

.choice-but, .randomize-but{
    display: inline-block;
    background-color: white;
    color: #5271ff;
    border: solid 2px #5271ff;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    padding: 8px 20px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.selected-choice{
    background-color: #5271ff;
    color: white;
}

.plane-search{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin: 0;
    border: solid 2px #5271ff;
    color: #5271ff;
    font-weight: bold;
    margin-bottom: 25px;
}

#confirm{
    margin-bottom: 20px;
    margin-top: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
    background-color: #5271ff;
    padding: 10px;
}
.grid-item {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 30px;
    text-align: center;
    cursor: pointer;
}


.plane-cell-header h2, .plane-cell-header i{
    display: inline-block;
}

.plane-cell-header i{
    margin-left: 30px;
}

.plane-cell-header i:hover{
    color: #5271ff;
}

.grid-container2 {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #5271ff;
    padding: 10px;
}

.time-row i{
    display: inline-block;
    font-size: 16px;
}

.time-row p{
    display: inline-block;
    font-size: 18px;
}

#time-block{
    border: 1px solid black;
    width: fit-content;
    padding: 4px 4px;
    border-radius: 8px;
}

.time-col{
    margin: 0;
    color: black;
}

.arr-up{
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
    user-select: none;
}

.arr-down{
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
    user-select: none;
}

.time-block-full p, .time-block-full button{
    display: inline-block;
}

.time-block-full p{
    margin-left: 25px;
}

.time-block-full button{
    font-size: 16px;
    padding: 8px 20px;
}

#hours, #minutes{
    margin-left: 0;
}

#sim_button{
    margin-top: 10px;
}

#wind-control{
    visibility: hidden;
}

/*Controller SIM switch*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}


.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}
  
input:checked + .slider {
    background-color: #5271ff;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #5271ff;
}
  
input:checked + .slider:before {
    transform: translateX(26px);
}

span.inline-text{
    margin-top: 6px;
    margin-left: 10px;
    position: absolute;
}

#delete-icon{
    cursor: pointer;
    font-size: 24px;

}

#regen-map{
    padding: 5px 10px;
    font-size: 20px;
}

h3{
    margin-top: 7px;
    margin-bottom: 7px;
}

/*
    Plane terminal
*/
#terminal-content{
    width: 100%;
    height: 400px;
    background-color: #ccc;
    overflow-y: scroll;
}

#terminal-log{
    color: black;
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 20px;
}

/*Content css*/

#inner-content span{
    color: white;
}

.man-header{
    font-weight: bolder;
}

.plane-header{
    font-style: italic;
    margin-left: 15px;
}

.plane-content-switch{
    margin-left: 15px;
    cursor: pointer;
}

.plane-content{
    margin-left: 30px;
    display: none;
    margin-top: 5px;
}

b.nested{
    margin-left: 45px;
}

.sel-category{
    width: 50%;
    height: 100%;
    background-color: rgb(148, 148, 148);
    color: white;
}


.sel-text{
    font-weight: bold;
    margin-left: 10px;
    display: inline;
    color: black;
}

.inline-span{
    display: inline;
    font-weight: bold;
}

.cat-table{
    display: inline-block;
    margin-left: 10px;
    width: 95%;
}

span#tag{
    margin-left: 10px;
    background-color: #5271ff;
    color: white;
    border-radius: 5px;
    padding: 2px 3px;
}

.time-select select, .time-select form{
    display: block;
    width: 100%;
}

.time-form{
    display: none;
}


/*
    Reworked css
*/
body{
    margin-left: 20px;
    margin-right: 20px;
    overflow-y: scroll;
}

#content{
    margin-top: 15px;
    height: 80%;
}

.inline-text{
    display: inline;
    margin-right: 10px;
    margin-bottom: 10px;
    color: black;
}

#main-header{
    display: inline-block;
}

#mask-sim{
    margin-left: -20px;
    padding-top: 20%;
}

.warn-text{
    color: red;
    font-weight: bolder;
}