body{
    background-color: black;
    margin: 0;

    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-style: normal;
}

h1, h2, h3, p, a{
    color: white;
}

table{
    border-collapse: collapse;
    width: 100%;
}

td, th, tr{
    color: white;
    border: 1px solid rgb(153, 153, 153);
    text-align: center;
    height: 50px;
    width: 25%;
}

#top-time-header{
    width: 100%;
    text-align: center;
}

.block{
    width: 50%;
    display: inline-block;
}

#b1{
    float: left;
}

#b2{
    float: right;
}

.t1{
    border-right: 3px solid rgb(153, 153, 153);
}

.t2{
    border-left: 3px solid rgb(153, 153, 153);
}


.aligner{
    overflow: auto;
}

.header-indent{
    margin-left: 10px;
}

td{
    border-right: 1px solid black;
}

td:last-child{
    border-right: 1px solid rgb(153, 153, 153);
}