body{
    background-color: black;
}

h1, h2, h3, p, a{
    color: white;
}

table{
    border-collapse: collapse;
    width: 100%;
}

td, th, tr{
    color: white;
    border: 1px solid white;
    text-align: center;
    height: 50px;
    width: 25%;
}

#top-time-header{
    width: 100%;
    text-align: center;
}

.block{
    width: 49%;
    display: inline-block;
}

.aligner{
    margin-left: 1%;
}