body{
    margin: 0;
}

iframe {
    display: block;       /* iframes are inline by default */
    background: #000;
    border: none;         /* Reset default border */
    height: 100vh;        /* Viewport-relative units */
    width: 100vw;
}

#embed-top-panel{
    width: 100%;
    background-color: gray;
}

#embed-top-panel form, #embed-top-panel button, #embed-top-panel span{
    display: inline-block;
}

span{
    font-size: medium;
    margin-left: 15px;
}

span#err{
    color: red;
}