/*GENERIC*/

#exit-img{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

h1, h2, h3, h4, p, a, span, li{
    color: #5271ff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

b{
    color: #5271ff;
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
}

h4{
    margin-top: 20px;
    margin-bottom: 0;
}

.warn-text{
    color: red;
}

/*
    Button style def
*/

button#small{
    padding: 1px 12px;
    font-size: small;

}

.tablebutton{
    font-size: medium;
    color: black;
    border: solid 2px black;
}

#main-header-button{
    display: inline-block;
}

.drop-button:hover{
    color: #5271ff;
    cursor: pointer;
}

.inline-but{
    margin-right: 15px;
}

/*
Generic declarations
*/
#center{
    text-align: center;
}

#center-overflow{
    text-align: center;
    overflow: hidden;
}

/*
Canvases
*/
#canvas1{
    position: absolute;
    z-index: 0;
}

#canvas2{
    position: absolute;
    z-index: 1;
}

#canvas3{
    position: absolute;
    z-index: 2;
}

.selected{
    background-color: #5271ff;
    color: white;
}

div.grid-item.selected{
    background-color: #5271ff;
}

#scrollable{
    overflow-y: scroll;
}

.header-inline{
    display: inline-block;
    margin: 5px
}

.dropdown-content{
    margin-left: 20px;
}