body{
    overflow-y: scroll;
    margin-left: 20px; 
    margin-right: 20px;
    margin-bottom: 20px;
}

#plugin-tab table{
    border-collapse:separate;
    border:solid gray 1px;
    border-radius:6px;
}

tr:nth-child(even) {
    background-color: white;
}

.indicator-but{
    border-radius: 5px;
    font-size: smaller;
    padding: 5px 15px;
}

.indicator-but{
    background-color: white;
    color: black;
    border-color: black;
}

.indicator-but.installed{
    background-color: rgb(216, 216, 216);
    color: rgb(133, 133, 133);
    border-color: rgb(133, 133, 133);
    cursor: default;
}

.manage-but{
    margin-left: 10px;
}

i#refresh:hover{
    color: #5271ff;
    cursor: pointer;
}

i#refresh{
    transition: all 0.5s;
}