body{
    overflow-y: auto;
}

#wiki-block{
    float: right;
    width: 40%;
    border-left: 2px solid black;
    padding-left: 10px;
}

#wiki-block iframe{
    width: 100%;
    height: 100%;
}

.set-header h2{
    margin-bottom: 0;
}

.set-header hr{
    margin-bottom: 15px;
    margin-right: 40px;
    color: #5271ff;
}

.short-inp{
    width: 100px;
}

.settings-elem{
    margin-bottom: 5px;
}