/*
WEATHER DEFS
*/
body#weather-background{
    background-color: black;
}

.weather-text{
    color: aliceblue;
    margin: 0;
    margin-top: 5px;
}

h2.weather-text a{
    color: #84948e;
}

.weather-but-run{
    background-color: #04AA6D;
    color: black;
    border: 1px solid black;
}

.weather-but-stop{
    background-color: rgb(255, 0, 0);
    color: black;
    border: 1px solid black;
}

#timestamp{
    color: white;
    text-align: center;
}

.weather-top button, .weather-top p{
    display: inline-block;
}

#warn-popup{
    top: 50px;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ddd;
}

#warn-text{
    padding: 50px;
    color: white;
    font-size: 50px;
    font-weight: 600;
}