/*Worker elements*/
.stopsim{
    background-color: red;
    color: black;
}

.startsim{
    background-color: green;
    color: black;
}

.stopsim#stopbutton:hover{
    background-color: red;
    color: black;
}

.startsim#stopbutton:hover{
    background-color: green;
    color: black;
}